extends layout

block content
  h1= title
  - let earphones = results; 
  table(class="table table-stripped table-bordered")
        thead(style="background-color:black;color:red") 
            tr
                td Earphone ID
                td Earphone Brand 
                td Earphone Model 
                td Earphone Price 
        tbody 
            each earphone in earphones 
                tr
                    td #{earphone._id}
                    td #{earphone.brand}
                    td #{earphone.model}
                    td #{earphone.price}