extends layout

block content
  h1= title
  - let earphoness = results; 
  table(class="table table-stripped table-bordered")
        thead(style="background-color:yellow; color:red;font-size:20px;font-family:calibri;") 
            tr
                td Earphones ID
                td Earphones brand 
                td Earphones model 
                td Earphones price 
                td Update
        tbody 
            each earphones in earphoness
                - let destination = `dispatch(\"/earphones/update?id=${earphones._id}\")`
                tr
                    td #{earphones._id}
                    td #{earphones.brand}
                    td #{earphones.model}
                    td #{earphones.price}
                    td
                      button.btn( class="btn-primary ml-1", onclick= destination) Update
                script.
                    function dispatch(path){
                      window.location.href=path
                    }